<%provide(:title, "Home")%>

<div class="center jumbotron">
  <h1><%= link_to image_tag("rent_now.png", alt: "Rent logo"),
            '' %></h1>

  <h2>
   Online Property Rental (OPR) is the best tool to rent properties of your choice, get started today!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= image_tag "agilelogo.jpg", size:"100x80" %>
